<div class="hero-unit">	
	<h1>Welcome to my website!</h1>
	<p>
		You are about to have your mind blown
		<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
